{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ asset("/css/security.css") }}">
{% endblock %}

{% block body %}

	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% if app.user %}
		<div class="container">
			<div class="row justify-content-center">
				<img class="mb-4" src="{{ asset("/icon/person-fill.svg") }}" alt="Not found" width="72" height="72">
			</div>

			<div class="row justify-content-center">
				<h1 class="h3 mb-3 font-weight-normal">You are logged in as
					{{ app.user.username }}
				</h1>
			</div>
		</div>
	{% endif %}

	{% if app.user == false %}
		<form class="form-signin" method="post">

			<img class="mb-4" src="{{ asset("/icon/person-fill.svg") }}" alt="Not found" width="72" height="72">

			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

			<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	{% endif %}

{% endblock %}
