{% extends 'base.html.twig' %}

{% block title %}White theme
{% endblock %}

{% block body %}
	{% if page != null %}
		<div class="container mx-auto">
			<div class="row m-3">
				<div class="col">
					<div class="card border shadow-sm">
						<div class="card-body">
							<h5 class="card-title">{{ page.title }}</h5>
							<p class="card-text">{{ page.introduction }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-3 px-lg-5 px-md-0 px-sm-5 py-3 justify-content-center">
				<div class="col-lg-6 col-md-6 col-12">
					{% for comment in comments %}
						<div class="row">
							<div class="col-10 my-1 mr-n2">
								<div class="card border-primary w-auto">
									<div class="card-body text-primary">
										<h5 class="card-title">{{ comment.user.username }}</h5>
										<p class="card-text">{{ comment.content }}</p>
										<p class="card-text text-right">
											<small class="text-muted">Data</small>
										</p>
									</div>
								</div>
							</div>
							{% if is_granted('ROLE_ADMIN') or (comment.user == app.user) %}
								<div class="col-2 my-1 ml-n2">
									<button type="button" class="btn btn-primary btn-sm">
										<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x mt-n2 mx-n2 mb-n1" viewbox="0 0 16 16">
											<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
										</svg>
									</button>
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				{% if is_granted('ROLE_USER') %}
					<div class="col-lg-6 col-md-6 col-12 my-1">
						<div class="row">
							<div class="col">
								<div class="form-group">
									{{ form_start(comment_form) }}
									{{ form_widget(comment_form.content) }}

									<small>{{ form_help(comment_form) }}</small>

									<div class="form-error">
										{{ form_errors(comment_form) }}
									</div>
									<button type="submit" class="btn btn-primary btn-sm mt-2">
										<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check mx-n2 mt-n2 mb-n1" viewbox="0 0 16 16">
											<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
										</svg>
									</button>
									{{ form_end(comment_form) }}
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	{% else %}
		<div class="d-flex justify-content-center">
			<h1>Page not found</h1>
		</div>
	{% endif %}
{% endblock %}
